:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: hsl(25, 53%, 67%);
  --dark-charcoal: #333333;
  --dark-grey: #111111;
  --medium-grey: #bbbbbb;
  --google-grey-200: rgb(232, 234, 237);
}

html {
  font-size: 100%; // base size 100% usually means 16px
}

h1 {
  font-size: 2.25rem;
}

p {
  font-size: 1rem;
}

body {
  background-color: var(--light);
  font-family: poppins, sans-serif;
}

img {
  width: 250px;
}

.card {
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 0 1 20%;
}

.navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark-charcoal);
  width: 100%;
  position: static;
  top: 0;
}

.navbar__item {
  float: left;
  border-right: 0.05rem solid var(--medium-grey);
}

.navbar__item:last-child {
  border-right: none;
}

.navbar__link {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
}

.navbar__link:hover {
  background-color: var(--dark-grey);
}

.input_search {
  display: block;
  margin: 0.75rem;
}

div.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}

/* Media Queries  */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  .input_search {
    display: none;
  }
  div.card-container {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #cat-ipsum,
  .species,
  .fav-foods,
  .birth-year {
    display: none;
  }
  .navbar {
    flex-wrap: wrap;
  }
  a {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .navbar__link {
    padding: 0.5rem;
  }
  div.card-container {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--google-grey-200);
    background-color: var(--dark);
  }
}
