:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: hsl(25, 53%, 67%);
  --dark-charcoal: #333333;
  --dark-grey: #111111;
  --medium-grey: #bbbbbb;
  --google-grey-200: rgb(232, 234, 237);
}

html {
  font-size: 100%; // base size 100% usually means 16px
}

h1 {
  font-size: 2.25rem;
}

p {
  font-size: 0.75rem;
}

body {
  background-color: var(--light);
  font-family: poppins, sans-serif;
}

li {
  float: left;
  border-right: 1px solid var(--medium-grey);
}

li:last-child {
  border-right: none;
}

a {
  display: block;
  padding: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--dark-grey);
}

li input {
  display: block;
  margin: 14px 16px;
}

img {
  width: 250px;
}

.card {
  padding: 10px;
  margin: 10px;
}

.navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark-charcoal);
  width: 100%;
  position: static;
  top: 0;
}

div.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* Media Queries  */

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  p {
    display: none;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .input_search {
    display: none;
  }
  a {
    padding: 4px;
    font-size: 0.75rem;
  }
  li a {
    padding: 7px 8px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--google-grey-200);
    background-color: var(--dark);
  }
}
